# wordpress
wp-admin/
wp-includes/

wp-content/plugins/
wp-content/uploads/
wp-content/themes/twentytwentyfour/

languages/

wp-config.php

# log
*.log

# nodejs
node_modules/
build/

# secret
_secrets/
.env